[submodule "lib/ActionBarSherlock"]
	path = lib/ActionBarSherlock
	url = git://github.com/JakeWharton/ActionBarSherlock.git
[submodule "lib/MixPanel"]
	path = lib/MixPanel
	url = git://github.com/mixpanel/mixpanel-android.git
[submodule "lib/AndroidBilling"]
	path = lib/AndroidBilling
	url = git://github.com/robotmedia/AndroidBillingLibrary.git
