[submodule "lib/ActionBarSherlock"]
	path = lib/ActionBarSherlock
	url = git://github.com/artiomchi/ActionBarSherlock.git
[submodule "lib/AndroidBilling"]
	path = lib/AndroidBilling
	url = git://github.com/artiomchi/AndroidBillingLibrary.git
[submodule "lib/ViewPagerIndicator"]
	path = lib/ViewPagerIndicator
	url = git://github.com/artiomchi/Android-ViewPagerIndicator.git
