<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.flexlabs.widgets.dualbattery"
          android:installLocation="internalOnly"
          android:versionCode="21"
          android:versionName="1.0 pre-release">
    <uses-sdk android:targetSdkVersion="11" android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:hardwareAccelerated="true"
                 android:name=".BatteryApplication">
        <!-- Widgets -->
        <receiver android:name="org.flexlabs.widgets.dualbattery.BatteryWidget" android:label="@string/widget_name">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
        </receiver>
        <receiver android:name="org.flexlabs.widgets.dualbattery.BatteryWidget2x2" android:label="@string/widget_name_2x2" android:enabled="@bool/beforeHoneycomb">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info_2x2" />
        </receiver>
        <receiver android:name="org.flexlabs.widgets.dualbattery.BatteryWidget3x4" android:label="@string/widget_name_3x4" android:enabled="@bool/beforeHoneycomb">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info_3x4" />
        </receiver>
        <!-- Widget widgetsettings activity -->
        <activity android:name=".widgetsettings.WidgetActivity" android:excludeFromRecents="true"
                  android:label="Widget Properties" android:theme="@style/Theme.Sherlock">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" /></intent-filter>
        </activity>
        <activity android:name=".widgetsettings.WidgetSettingsActivity" android:excludeFromRecents="true"
                          android:label="Widget Properties" android:theme="@style/Theme.Sherlock"/>
        <activity android:name=".widgetsettings.WidgetTabbedActivity" android:excludeFromRecents="true"
                  android:label="Widget Properties"/>
        <activity android:name=".WelcomeActivity" android:theme="@android:style/Theme.Holo.Light.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Battery monitor service -->
        <service android:name=".service.MonitorService" android:label="Battery Monitor Service" />
        <receiver android:name=".service.BootUpReceiver" android:label="Monitor Service Auto Starter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!-- In-app Google Play Billing -->
        <service android:name="net.robotmedia.billing.BillingService" />
        <receiver android:name="net.robotmedia.billing.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
