<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.flexlabs.widgets.dualbattery"
          android:versionCode="6"
          android:versionName="0.6.5">
    <uses-sdk android:targetSdkVersion="11" android:minSdkVersion="4" />
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:hardwareAccelerated="true"
                 android:name=".BatteryApplication">
        <receiver android:name=".BatteryWidget" android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.flexlabs.action.BATTERY_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
        </receiver>
        <activity android:name=".DummyConfigurationActivity" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.WidgetPropertiesActivity" android:excludeFromRecents="true" />
    </application>
    <uses-permission android:name="android.permission.BATTERY_STATS" />
	<uses-permission android:name="android.permission.DEVICE_POWER" />
</manifest>
